*{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif ;

  list-style: none;
}







body{

  display:grid;
  justify-content: center;

  @include for-tablet-portrait-up{
    background: black;
  }
}
/*----- Display calculadora -----*/

.calculator{
display: grid;
justify-items: center;

}
.calculator-storage{
  display:flex;
  flex-direction: column;
  justify-content: flex-end;

  width: 95%;
  color: #B6B6B6;

  
  text-align: right;
  font-size: 24px;
  font-weight: bold;
  height:85%;
}

.screen-result{
  max-width:450px;
  background: #E5E5E5;
  display: flex;
  flex-direction:column;


  margin-top: 2rem; 
  width:90%;
  height: 18.75rem;

  -webkit-border-radius: 42px;
  -moz-border-radius: 42px;
  border-radius: 42px;
  -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
  -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
  box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.25);
}
.calculator-numbers{
  display:flex;
  justify-content:flex-end;

  width:97%;

}
.calculator-numbers input{
  background:none;
  border:none;
  
  width: 55%;
  color: #3F4556;

  text-align:right;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.calculator-numbers label{
  color: #3F4556;

  font-size: 48px;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.operator-number{
  display: flex;
  justify-content: flex-end;

  border-top: 1px solid #B6B6B6;
  height:10%;
}

.number-list{
  width: 55%;
}

.operator-list{
  width: 45%;
}
/*----- Teclado numérico -----*/
.keyboard{
  width:26.125rem;

  display:grid;
  grid-gap: 0.75rem;
  grid-template-areas:
  ' C D division multiplication '
  ' seven eight nine subtraction'
  ' four five six addition'
  ' one two three equal'
  ' percent zero dot equal'
  ;
  
  margin-top:1.75rem;
  margin-left:1.18rem;
}

.calculator-button{
  background:#353742;
  display: flex;
  
  justify-content:center;
  align-items:center;

  height: 80px;
  width: 80px;
  
  color: #fff;
  font-size: 64px;
  font-weight: bold;
  text-align:center;
  
  border:none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  
}


/*-------- Button numbers -------*/

.b-C{
  background: #FF806E;
  grid-area: C;
}

.b-D{
  color: #FF806E;
  grid-area: D;
}

.b-division{
  color: #FF806E;
  grid-area: division;
}

.b-multiplication{
  color: #FF806E;
  grid-area: multiplication;
}

.b-addition{
  color: #FF806E;
  grid-area: addition;
}

.b-subtraction{
  color: #FF806E;
  grid-area: subtraction;
}

.b-zero{
  grid-area: zero;
}

.b-one{
  grid-area: one;
}

.b-two{
  grid-area: two;
}

.b-three{
  grid-area: three;
}

.b-four{
  grid-area: four;
}

.b-five{
  grid-area: five;
}

.b-six{
  grid-area: six;
}

.b-seven{
  grid-area: seven;
}

.b-eight{
  grid-area: eight;
}

.b-nine{
  grid-area: nine;
}

.b-equal{
  background: #FF806E;
  height: 100%;
  grid-area: equal;

  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border-radius: 180px;
}
.b-percent{
  color: #FF806E;
  grid-area: percent;
}

.b-dot{

  color: #FF806E;
  grid-area: dot;
}

/* ---- media queries ---- */


@media (min-width: 900px) { 
  .screen-result{
    min-width:750px;
  }
  .calculator-button{
    height: 100%;
    width: 100%;
  
    border:none;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
  }

  .keyboard{
    min-width:750px;
  }
  .keyboard{
    grid-template-areas:
    ' seven eight nine C D'
    ' four five six multiplication division'
    ' one two three addition subtraction'
    ' percent zero dot equal equal'
    ;
    
    max-width:750px;
    width:50%;
    height:36rem;
  }
  
  .calculator-button{
    height: 100%;
    width: 100%;
  
    border:none;
    -webkit-border-radius: 0%;
    -moz-border-radius: 0%;
    border-radius: 0%;
  }
  

.b-D{
  color: #fff;
  background: #FF806E;
  grid-area: D;
}

.b-division{
  color: #fff;
  background: #FF806E;
  grid-area: division;
}

.b-multiplication{
  color: #fff;
  background: #FF806E;
  grid-area: multiplication;
}

.b-addition{
  color: #fff;
  background: #FF806E;
  grid-area: addition;
}

.b-subtraction{
  color: #fff;
  background: #FF806E;
  grid-area: subtraction;
}
.b-dot{
  color: #fff;
  background: #FF806E;
}

.b-equal{
  color: #fff;
  background: #FF806E;
  height: 100%;
  grid-area: equal;

  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
}

@media (min-width: 1200px) { 
  body{
    display:block;
  }

  .screen-result{
    max-width:750px;
    width:50%;
  }

  
}

